<div class="consultant-overview-section">
    <div class="consultant-photo-card">
      <img [src]="consultant?.foto" alt="{{ consultant?.isim }}" class="consultant-detail-photo" />
      <h2 class="consultant-name">{{ consultant?.isim }}</h2>
    </div>
  
    <div class="consultant-text-details">
      <div class="hakkimda-danisman">
        <h2 class="hakkimda-title">Hakkımda</h2>
        <p class="hakkimda-yazi">{{ getShortenedHakkimda(consultant?.hakkimda) }}</p>
      </div>
  
      <div class="iletisim-bolumu">
        <h2 class="iletisim-baslik">İletişim</h2>
        <div class="iletisim-linkleri">
          <a [href]="'tel:' + consultant?.telefon"><mat-icon>phone</mat-icon> {{ consultant?.telefon }}</a>
          <a [href]="'mailto:' + consultant?.mail"><mat-icon>email</mat-icon> {{ consultant?.mail }}</a>
          <a *ngIf="consultant?.instagram" [href]="consultant?.instagram" target="_blank"><mat-icon>camera_alt</mat-icon> Instagram</a>
          <a *ngIf="consultant?.whatsapp" [href]="consultant?.whatsapp" target="_blank"><mat-icon>chat</mat-icon> WhatsApp</a>
          <a *ngIf="consultant?.endeksa" [href]="consultant?.endeksa" target="_blank"><mat-icon>assessment</mat-icon> Endeksa</a>
        </div>
      </div>
    </div>
  </div>
  