<div class="mainVideo-section">
    <video autoplay loop muted playsinline class="background-video">
      <source src="assets/asd.mp4" type="video/mp4">
    </video>
    <div class="ana-menu-comp">
      <div class="ana-menu-icerik">
        <h1 class="main-title">PENTA NEST </h1>
        <h2 class="sub-title">Gayrimenkul ile ilgili bir karar aşamasında mısınız?</h2>
        <h2 class="sub-title">Doğru yerdesiniz....</h2>
        <div class="main-tikla">
          <a routerLink="/hakkimizda">Ayrıntılı Bilgi</a>
        </div>
      </div>
      <div class="hemen-ara">
        <a href="tel:+905302777585">
          Hemen Ara <span class="phone-number">+905302777585</span>
      </a>
      </div>
    </div>
  </div>
  