<div class="ilan-detay-bilgiler">
  <div class="ilan-detay-fiyat">{{ ilan?.price | number }} TL</div>
  <div class="ilan-detay-lokasyon-wrapper">
    <span class="ilan-detay-lokasyon">
      <b>Lokasyon:</b> {{ ilan?.location }}
    </span>
    <a *ngIf="ilan?.konumLinki" [href]="ilan?.konumLinki" target="_blank" class="ilan-detay-map-link"> Haritada Görüntüle </a>
  </div>
  <div *ngIf="ilan?.aciklama" class="ilan-detay-aciklama">
    <h2>Açıklama</h2>
    <ul>
      <li *ngFor="let item of aciklamaSatirlari">
        {{ item.trim() }}
      </li>
    </ul>
  </div>
  </div>