<a 
  [href]="locationLink" 
  target="_blank" 
  rel="noopener noreferrer" 
  class="ofis-link-wrapper"
>
  <div class="ofis-bolumu" id="ofis">
    <img class="ofis-arkaplan" [src]="officeImageUrl" alt="PentaNest Ofis">
    <div class="ofis-yazi-katmani">
      <h2 class="asfdf">Ofisimize Bir Kahve İçmeye Bekleriz!</h2>
      <p>Profesyonel ekibimizle tanışmak ve hayalinizdeki mülkü bulmak için sizi de bekliyoruz.</p>

      <span class="konum-goster-yazisi">Konumu görmek için tıklayınız</span>

    </div>
  </div>
</a>