<div class="main-image-wrapper" (click)="openFullscreen()">
    <img [src]="mainImageUrl" alt="İlan Ana Fotoğrafı" class="ilan-detay-image" />
    
    <button class="carousel-arrow main-image-arrow left-arrow" (click)="navigateThumbnails('left', $event)" [disabled]="isLeftArrowDisabled">‹</button>
    <button class="carousel-arrow main-image-arrow right-arrow" (click)="navigateThumbnails('right', $event)" [disabled]="isRightArrowDisabled">›</button>
  </div>
  
  <div class="thumbnail-carousel-container">
    <div class="image-gallery">
      <img 
        *ngFor="let imgUrl of displayedThumbnails" 
        [src]="imgUrl" 
        alt="İlan Küçük Fotoğrafı" 
        class="thumbnail-image" 
        (click)="selectImage(imgUrl); $event.stopPropagation();" 
        [class.active]="mainImageUrl === imgUrl"
      />
    </div>
  </div>
  
  <div class="fullscreen-modal-overlay" *ngIf="showFullscreenModal" (click)="closeFullscreen()">
    <div class="fullscreen-modal-content" (click)="$event.stopPropagation()">
      <img [src]="mainImageUrl" alt="Tam Ekran Görüntü" class="fullscreen-image" />
      <button class="fullscreen-close-button" (click)="closeFullscreen()">✖</button>
      <button class="carousel-arrow fullscreen-arrow left-arrow" (click)="navigateThumbnails('left', $event)" [disabled]="isLeftArrowDisabled">‹</button>
      <button class="carousel-arrow fullscreen-arrow right-arrow" (click)="navigateThumbnails('right', $event)" [disabled]="isRightArrowDisabled">›</button>
    </div>
  </div>
  