<div *ngIf="blogPost" class="blog-detail-container">
  <img *ngIf="blogPost.image" [src]="blogPost.image" [alt]="blogPost.title" class="detail-post-image">
  
  <h1 class="detail-post-title">{{ blogPost.title }}</h1>
  
  <div class="detail-post-meta">
    <span class="detail-post-author">Yazar: {{ blogPost.author }}</span>
    <span class="detail-post-date">{{ blogPost.date }}</span>
  </div>

  <div class="detail-post-content" [innerHTML]="blogPost.fullContent">
    
  </div>

  <a routerLink="/blog" class="back-to-blog-list">← Tüm Yazılara Geri Dön</a>
</div>

<div *ngIf="!blogPost" class="blog-detail-not-found">
  <p>Üzgünüz, aradığınız blog yazısı bulunamadı.</p>
  <a routerLink="/blog" class="back-to-blog-list">← Tüm Yazılara Geri Dön</a>
</div>