<div class="one-cıkanlar-bolumu">
    <h2 class="onecikanlar-text">Öne Çıkan İlanlarımız</h2>
      <div class="onecikanlar-listesi">
        <button (click)="geri()" class="geri-buton">←</button>
        <ng-container *ngFor="let ilan of aktifIlanlar">
          <a [routerLink]="['/ilan', ilan.id]" class="onecikanlar-link">
            <div class="slider-card" [ngClass]="kaymaYonu === 'left' ? 'slide-left' : kaymaYonu === 'right' ? 'slide-right' : ''">
              <img [src]="ilan.imageURL" alt="İlan Fotoğrafı" class="slider-card-img" onerror="this.onerror=null;this.src='/assets/pentanestlogo.png';" />
              <h3 class="slider-card-title">{{ ilan.title }}</h3>
              <div class="slider-card-price">{{ ilan.price | number }} TL</div>
              <div class="slider-card-location">{{ ilan.location }}</div>
              <div class="slider-card-emlakci">{{ ilan.emlakci }}</div>
            </div>
          </a>
        </ng-container>
        <button (click)="ileri()" class="ileri-buton">→</button>
      </div>
  </div>
  