<div class="danısmanlar-blok" id="danisman-blok">
    <h2 class="danısman-baslık">Ekibimiz</h2>
    <div class="danısman-section">
      <div class="danısman-hasandugan">
        <a [routerLink]="['/danisman', 'hasan-dugan']"
          ><img
            src="/assets/hasanduganpfp.png"
            alt="Hasan Dugan"
            class="Hasanpfp-Foto"
        /></a>
        <p>Hasan Dugan<br />Emlak Danışmanı</p>
      </div>
      <div class="danısman-serifecelik">
        <a [routerLink]="['/danisman', 'serife-celik']"
          ><img
            src="/assets/serifecelikpfp.png"
            alt="Şerife Çelik"
            class="Serifepfp-Foto"
        /></a>
        <p>Şerife Çelik<br />Emlak Danışmanı</p>
      </div>
    </div>
  </div>
  